@import url("https://fonts.googleapis.com/css2?family=Chonburi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap");
h1 {
  color: white;
  font-family: "Chonburi", cursive;
  font-size: 1rem;
}

p {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
}

nav {
  background: linear-gradient(to top, black, red);
}
nav img {
  width: 80px;
}
nav ul {
  list-style: none;
}
nav ul li {
  margin-right: 10px;
  margin-top: 15px;
  color: white;
}
nav ul li :hover {
  color: black;
}
nav ul li a {
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5;
}

body {
  background-image: url(../img/fondo.jpg);
  background-size: 100% 100%;
  background-repeat: repeat;
  background-attachment: fixed;
}

img {
  width: 100%;
}

aside {
  margin: 10px;
}
aside img {
  width: 100vw;
  height: 40vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.noticiasH2 {
  color: white;
  background-color: rgb(240, 70, 70);
  text-align: center;
}

.galeriaH2 {
  margin-top: 50px;
  border-left: solid black;
  padding-left: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
}

@media (min-width: 992px) {
  .galeryImg1 {
    height: 46vh;
    width: 65.2vw;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .galeryImg2 {
    height: 46vh;
    width: 32vw;
    -o-object-fit: cover;
       object-fit: cover;
    margin-left: 16.5vw;
  }
}
#maps {
  display: flex;
  justify-content: center;
}

#maps iframe {
  width: 70%;
  height: 50vh;
  margin-bottom: 20px;
}

.btnColor, .btn-rounded {
  background-color: rgb(69, 69, 233);
  color: black;
  width: none;
  font-weight: 500;
}

.btn-rounded {
  border-radius: 3px;
}

.tiendaH2 {
  background-color: white;
  color: rgb(69, 69, 233);
}

#productos h2 {
  -webkit-animation-name: animateH2;
          animation-name: animateH2;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  background-color: white;
  color: rgb(69, 69, 233);
}

@-webkit-keyframes animateH2 {
  0% {
    width: 40vw;
    color: rgb(69, 69, 233);
    background-color: white;
  }
  50% {
    width: 100%;
    color: white;
    background-color: rgb(69, 69, 233);
  }
}

@keyframes animateH2 {
  0% {
    width: 40vw;
    color: rgb(69, 69, 233);
    background-color: white;
  }
  50% {
    width: 100%;
    color: white;
    background-color: rgb(69, 69, 233);
  }
}
#productos div div {
  background-color: white;
  width: 300px;
  border: solid black;
}
#productos div div img {
  border-bottom: solid white;
}
#productos div div img:hover {
  border-bottom: solid gray;
  transition: 1s;
}

.historiaH2 {
  font-family: "Cinzel Decorative", cursive;
}

.positionSedes {
  border: solid;
  margin-bottom: 3rem;
  background-color: white;
}

.imgSede {
  width: 100%;
}

.sedesH3 {
  color: black;
  text-align: center;
  font-family: "Chonburi", cursive;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

@media (max-width: 575px) {
  #sedes {
    text-align: center;
  }
  #sedes .imgSede {
    width: 60vw;
    text-align: center;
  }
}
.nombre {
  font-family: "Lora", serif;
  font-size: 2rem;
  background-color: rgb(192, 24, 24);
  color: black;
}

.nombreArq {
  font-family: "Lora", serif;
  font-size: 2rem;
  background-color: black;
  color: rgb(192, 24, 24);
}

.arqueroH2 {
  text-align: left;
  padding: 10px;
  text-decoration: none;
  color: black;
  display: block;
  font-family: "Lora", serif;
  font-weight: 600;
  border-right: 30px solid transparent;
  border-bottom: 40px solid rgb(192, 24, 24);
  height: 0;
  line-height: 55px;
}

.jugadoresH2 {
  text-align: left;
  padding: 10px;
  font-family: "Lora", serif;
  font-weight: 600;
  text-decoration: none;
  color: rgb(192, 24, 24);
  display: block;
  border-right: 25px solid transparent;
  border-bottom: 40px solid black;
  height: 0;
  line-height: 55px;
}

footer {
  background-color: white;
  text-align: center;
}
footer img {
  width: 50px;
  padding: 0px 5px 5px 5px;
  margin-top: 5px;
}
footer a {
  list-style: none;
  text-decoration: none;
}

#cards {
  margin: 0px 0px 10px 0px;
}
#cards h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
  width: 40%;
  font-size: 2rem;
}
#cards img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 35vh;
}
#cards div div {
  flex-direction: column;
}
#cards .btn {
  background-color: red;
  color: white;
  width: 60px;
}
#cards .btn:hover {
  background-color: black;
  color: red;
  transition: 1s;
}

#cards article {
  height: auto;
}/*# sourceMappingURL=main.css.map */