#cards{    
    margin: 0px 0px 10px 0px;

    h3{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: map-get($map: $paleta, $key: 'dos');
        color: map-get($map: $paleta, $key: 'tres');
        width: 40%;
        padding-left: 10px;
        font-size: 2rem;
    }

    img{
        object-fit:cover; 
        width: 100%;  
        height: 35vh; 
    }
    div div{
        flex-direction: column;
    }

    .btn{
        @include boton($secondary, $primary, 60px);
        
       
       &:hover{
           background-color: $alternativ;
           color: $secondary;
           transition: 1s;
       }
    }
    
}

