#cards{    
    margin: 0px 0px 10px 0px;

    img{
        object-fit:cover; 
        width: 100%;  
        height: 35vh; 
    }
    div div{
        flex-direction: column;
    }

    .btn{
        @include boton($secondary, $primary, 60px);
        
       
       &:hover{
           background-color: $alternativ;
           color: $secondary;
           transition: 1s;
       }
    }
    
}

