
*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5;
}

body{
    background-image:url(../img/fondo.jpg);
    background-size: 100% 100%;
    background-repeat: repeat;
    background-attachment: fixed;
}

img{
    width: 100%;
}

// carrusel
aside{
    margin: 10px;
    img{
        width: 100vw;
        height: 40vw;
        object-fit:cover;        
    }
}

// contacto

#maps {
    display: flex;
    justify-content: center;
}

#maps iframe{
    width: 70%;    
    height: 50vh;
    margin-bottom: 20px;
}

.btnColor{
    @include boton(rgb(69, 69, 233), $alternativ, none);
    font-weight: 500;
}

.btn-rounded{
    @extend .btnColor;
    border-radius: 3px;
}

// tienda

#productos div div{
    background-color: $primary;
    width: 300px;
    border: solid black;

    img{
        border-bottom: solid white;
    }

    img:hover{
        border-bottom: solid gray;
        transition: 1s;
    }


    
}


// @mixin flex($dire, $justify, $align, $wrap){
//     display: flex;
//     flex-direction: $dire;
//     justify-content: $justify;
//     align-items: $align;
//     flex-wrap: $wrap;    
// }


