
*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5;
}

body{
    background-image:url(../img/fondo.jpg);
    background-size: 100% 100%;
    background-repeat: repeat;
    background-attachment: fixed;
}

img{
    width: 100%;
}

//index carrusel
aside{
    margin: 10px;
    img{
        width: 100vw;
        height: 40vw;
        object-fit:cover;        
    }
}

// main

.noticiasH2{
    color: $primary;
    background-color: rgb(240, 70, 70);
    text-align: center;
}


// galeria

.galeriaH2{
    margin-top: 50px;
    border-left: solid black;
    padding-left: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: map-get($map: $paleta, $key: 'tres');
}

@media (min-width: 992px) {
    
    .galeryImg1{
        height: 46vh;
        width: 65.2vw;
        object-fit:cover;
    }
    
    .galeryImg2{
        height: 46vh;
        width: 32vw;
        object-fit:cover;
        margin-left: 16.5vw;
    }

    }

// contacto

#maps {
    display: flex;
    justify-content: center;
}

#maps iframe{
    width: 70%;    
    height: 50vh;
    margin-bottom: 20px;
}

.btnColor{
    @include boton(rgb(69, 69, 233), $alternativ, none);
    font-weight: 500;
}

.btn-rounded{
    @extend .btnColor;
    border-radius: 3px;
}

// tienda

.tiendaH2{
    background-color: $primary;
    color :rgb(69, 69, 233);
}

#productos div div{
    background-color: map-get($map: $paleta, $key: 'tres');
    width: 300px;
    border: solid black;

    img{
        border-bottom: solid white;
    }

    img:hover{
        border-bottom: solid gray;
        transition: 1s;
    }    
}

// nosotros

.positionSedes{
    border: solid;
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    background-color: map-get($map: $paleta, $key: 'tres');
}

.sedesH3{
    color: map-get($map: $paleta, $key: 'dos');
    text-align: center;
    font-family: 'Chonburi', cursive;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

// plantel
 .nombre{
    font-family: 'Lora', serif;
    font-size: 2rem;
    background-color: rgb(192, 24, 24);
    color: map-get($map: $paleta, $key: 'dos')   
 }

 .nombreArq{
    font-family: 'Lora', serif;
    font-size: 2rem;
    background-color: black;
    color: rgb(192, 24, 24);   
 }

 .arqueroH2{
    text-align: left;
    padding: 10px;
    text-decoration: none;
    color: map-get($map: $paleta, $key: 'dos');
    display: block;
    font-family: 'Lora', serif;
    font-weight: 600;
    border-right: 30px solid transparent;
    border-bottom: 40px solid map-get($map: $paleta, $key: 'cuatro');      
    height: 0;
    line-height: 55px;
 }

 .jugadoresH2{
    text-align: left;
    padding: 10px;
    font-family: 'Lora', serif;
    font-weight: 600;
    text-decoration: none;
    color: map-get($map: $paleta, $key: 'cuatro');
    display: block;
    border-right: 25px solid transparent;
    border-bottom: 40px solid map-get($map: $paleta, $key: 'dos');      
    height: 0;
    line-height: 55px;
 }



