nav {
  
    background: linear-gradient(to top, black, red);
    img{
        width: 80px;
    }
    
    ul{
    list-style: none;
    li{
        margin-right: 10px;
        margin-top: 15px;
        color: $primary;
        & :hover{
            color: $alternativ;
        }  
        
        a{
            text-decoration: none;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: $primary;                      
        }
    }
}
}



